<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abc.terry_sun.abc" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />


    <application
        android:name="com.abc.terry_sun.abc.CustomClass.Application.ABCApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <meta-data android:name="DATABASE" android:value="abc.db" />
        <meta-data android:name="VERSION" android:value="4" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.abc.terry_sun.abc" />
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BonusListActivity" />
        <activity android:name=".FriendsListActivity" />
        <activity android:name=".ArrowsActivity" />
        <activity android:name=".OptionsActivity" />
        <activity android:name=".Photo_GalleryActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".CardsActivity" />
        <activity android:name=".TabGroup_Cards" />
        <activity android:name=".CardDetailEmulateActivity" />
        <activity android:name=".ReadCardActivity" />
        <activity android:name=".TabGroup_R_Card" />
        <activity android:name=".R_CardHomeActivity" />
        <activity android:name=".R_CardNewCardActivity" />
        <activity android:name=".R_CardFriendCardActivity" />
        <activity android:name=".R_CardNoFriendCardActivity" />
        <activity android:name=".R_CardRealFriendCardActivity" />



        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <provider android:authorities="com.facebook.app.FacebookContentProvider1607257752894486"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service android:name=".NfcService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <!-- Intent filter indicating that we support card emulation. -->
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- Required XML configuration file, listing the AIDs that we are emulating cards
                 for. This defines what protocols our card emulation service supports. -->
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/aid_list"/>
        </service>
    </application>

</manifest>
